:root {
    --line-border-fill: #3498db;
    --line-border-empty: #383838;
}

* {
    box-sizing: border-box;
}

body {
    background-color: yellowgreen;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    background-color: #3498db;
    text-align: center;
}

.progress-container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
